apiVersion: appconnect.ibm.com/v1beta1
kind: IntegrationServer
metadata:
  name: {{NAME}}
  namespace: test-project
spec:
  license:
    accept: true
    license: L-KSBM-CCBK39
    use: AppConnectEnterpriseNonProduction
  pod:
    containers:
      runtime:
        image: icr.io/appc-dev/ace-server@sha256:9825171d021913063cf4f505acc093c83c616e3fea9b2b23ea97d27ebf59ad43
        resources:
          limits:
            cpu: 300m
            memory: 350Mi
          requests:
            cpu: 300m
            memory: 300Mi
  adminServerSecure: false
  enableMetrics: true
  createDashboardUsers: true
  barURL: https://afahmy.jfrog.io:{{ARTIFACTORY_PORT}}/artifactory/{{ARTIFACTORY_REPO}}/{{ARTIFACTORY_BASE_PATH}}/{{BAR_FILE}}
  configurations: [ bar-auth-config {{CONFIGURATION_LIST}} ]
  router:
    timeout: 120s
  designerFlowsOperationMode: disabled
  replicas: 1
  router:
    timeout: 120s
  service:
    endpointType: http
  version: '12.0'
  logFormat: basic
